#hello {
  color: white;
  background: blue;
}
  #hello .world {
    border: 1px solid red;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 45px;
    margin-top: 45px;
  }
#another {
  color: white;
  background: blue;
}
  #css .file {
    border: 1px solid red;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 45px;
    margin-top: 45px;
  }
  #with_images {
    background: url(../../public/embed/asterisk_yellow.png);
  }
  #and_relative_paths {
    background: url(../../public/embed/asterisk_orange.png?1010101);
  }
  #and_real_urls {
    background: url(http://example.com/image.png);
  }
@font-face {
	font-family: 'DroidSansMonoRegular';
	src: url('../../public/embed/DroidSansMono.eot');
	src: local('Droid Sans Mono Regular'), local('DroidSansMono'), url('../../public/embed/DroidSansMono.ttf') format('truetype');
}
